.mattributedetails {
    background: white;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(0,0,0,.15);
    background-color: white;
    width: calc(100% - 40px);
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.mattributedetails--active {
    animation: showDetails .5s both;
}

@keyframes showDetails {
    form {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}